html 
    body 
        form(action="/login" method="get" )
            label username: 
            input(type="text" name="uname")
            label password: 
            input(type="password")
            