html 
head 
    style 
        include ./pug1.css 
        //- . means that it is in the same folder
    title First Program 
body 
    include ./header.pug 
    h3 i'm the main content 
    include ./footer.pug 
